body {
  margin-top: 50px;
}

body .loader {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  margin-top: 100px;
  border: 20px solid white;
  border-top-color: #72a6f9;
  border-bottom-color: #72a6f9;
  border-radius: 50%;
  animation-name: chartloading;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

body .input-group-btn {
  color: #4bfc2f;
}

body #stockContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

body #stockContainer .stocks {
  background: white;
  border: 2px solid grey;
  color: black;
  width: 200px;
  height: 110px;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 5px;
  font-family: 'Noto Serif', serif;
  transition: all .5s ease-in;
  /*no delay but can add that here as finalk param*/
}

body #stockContainer .stocks:hover {
  transform: translateY(-10px);
  background: grey;
  color: white;
}

body #stockContainer .stocks:hover .close {
  color: #fc8f8f;
}

body #stockContainer .stocks .close {
  margin-right: 5px;
  background-color: inherit;
  border: none;
  color: red;
  font-size: 30px;
  opacity: .75;
  text-shadow: none;
}

body #stockContainer .stocks .close:active {
  background-color: inherit;
}

body #stockContainer .stocks .close:focus {
  outline: none;
}

body a, body a:active, body a:hover, body a:visited, body a:active, body a:hover {
  color: yellow;
  text-decoration: none;
}

@keyframes chartloading {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(360deg) scale(1.05);
  }
  100% {
    transform: rotate(720deg) scale(1);
  }
}
